.home-container {
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 70px auto;
    height: 80%;
    margin: 0;
    /* background-image: url("../../back2.jpg"); */
}


@media only screen and (max-width: 768px) {
   .home-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px;
    height: 60%; /*this is the height of the video*/
    margin: 0;
   }
  }
